{% extends "layout.njk" %}

{% block head %}
  <title>School Manager | Teachers</title>
{% endblock head %}

{% block content %}
  <div class="card">
    <div class="img"></div>
    <div class="details"></div>
  </div>
{% endblock content %}