<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    {% block head %}
      <title>School Manager |</title>
    {% endblock head %}
  </head>
  <body>
    <header>
      <div class="links">
        <a href="/" class="active">Teachers</a>
        <a href="/students">Students</a>
      </div>
    </header>
    {% block content %}{% endblock content %}
  </body>
</html>